<body>
    <h1>Hello World!</h1>
    <input type="button" value="Scrape" id="scrape" onClick="window.location = '/scrape'" />
    <h5 class="col-sm-6" id="articleHere"></h5>
    <div class="col-sm-6" id="commentHere"></div>
</body>