#scrape, #saved, #home, #postComment, .saveBtn  {
    border-radius: 50%;
    background-color: black;
    color: antiquewhite
}

.article.selected {
    background: lightcoral;
}

#move {
    margin-left: 190px;
}